* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  background-color: #37003c;
  color: white;
}

.logo-title {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  margin-top: 15px;
}

ul.menuLinks li a {
  display: flex;
  padding: 0.75rem 2vw;
  color: white;
  text-decoration: none;
}

#menu-button {
  display: none;
}

ul.menuLinks,
ul.menuLinks.open {
  display: flex;
  justify-content: flex-end;
}

ul.menuLinks a:hover {
  font-size: large;
}

ul.menuLinks {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: space-evenly;
  font-size: larger;
  background-color: #f5f5f5;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: black !important;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
nav a.active {
  background-color: #37003c;
  color: white !important;
  border-radius: 4px;
  padding: 5px 10px;
}

nav a.active:hover {
  color: white !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.checkboxes {
  gap: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #44a1ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

input[type="submit"]:hover {
  background-color: black;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  justify-content: center;
  background-color: #37003c;
  color: white;
}

.left-footer {
  text-align: center;
}

.social-icons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
}

.right-footer {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  background-color: white;
}
